# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

In [10]:
raw_data= pd.read_csv("http://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv")

### Step 3. Assign it to a variable called df.

In [11]:
df = pd.DataFrame(raw_data)

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [13]:
df_1 = df.loc[:,'school':'guardian']

### Step 5. Create a lambda function that capitalize strings.

In [14]:
lambda x: x.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [15]:
df_Mjob = df_1['Mjob'].apply(lambda x: x.capitalize())
df_Fjob = df_1['Fjob'].apply(lambda x: x.capitalize())

### Step 7. Print the last elements of the data set.

In [16]:
df_1.iloc[-1,-1]

'father'

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [19]:
df_1.Mjob = df_Mjob
df_1.Fjob = df_Fjob
df_1.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [22]:
def majority(i):
    return i > 17

In [23]:
a = df_1['age'].apply(majority)
print(a)

0       True
1      False
2      False
3      False
4      False
       ...
390     True
391    False
392     True
393     True
394     True
Name: age, Length: 395, dtype: bool

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [30]:
def multiply(num):
    return 10*num

In [31]:
print(df_1.dtypes)

school      object
sex         object
age          int64
address     object
famsize     object
Pstatus     object
Medu         int64
Fedu         int64
Mjob        object
Fjob        object
reason      object
guardian    object
dtype: object

In [33]:
ageM = df_1['age'].apply(multiply)
MeduM = df_1['Medu'].apply(multiply)
FeduM = df_1['Fedu'].apply(multiply)

In [43]:
ageM.head()

0    180
1    170
2    150
3    150
4    160
Name: age, dtype: int64

In [44]:
df_1['age'].head()

0    18
1    17
2    15
3    15
4    16
Name: age, dtype: int64